@model List<Kraken_Challenge.Models.ViewModels.VMVitalsApi>
@{
    ViewData["Title"] = "DisplayVitals";
}
<style>
    .card{
        background-color:snow;
    }
</style>
<div class="">
    <div class="col-12>
        <div class="card card-table">
            <div class="card-header">
                <h2>Display Vitals</h2>
                <a href="/Dashboard/Vitals">Add Vitals</a>
            </div>
            <div class="card-body">

                <!-- Invoice Table -->
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Human Vital ID</th>
                                <th>Tempreture</th>
                                <th>Heart Rate</th>
                                <th>Organization ID</th>
                                <th>Device ID</th>
                                <th>Business Unit ID</th>
                                <th>Created Date</th>
                                <th>Partition Key</th>
                                <th>Row Key</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>@item.humanVitalId</td>
                                <td>@item.temperature</td>
                                <td>@item.heartRate</td>
                                <td>@item.organizationId</td>
                                <td>@item.deviceId</td>
                                <td>@item.businessUnitId</td>
                                <td>@Convert.ToDateTime(item.timestamp).ToString("dd-MMMM-yyyy hh:mm tt")</td>
                                <td>@item.partitionKey</td>
                                <td>@item.rowKey</td>
                            </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        No Vitals Added Yet!
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /Invoice Table -->

            </div>
        </div>
    </div>
</div>